<div class="websiteEditor">

    <h1 data-ng-if="!vm.entity.id">Create Website <span data-ng-if="vm.entity.name.length > 0">: {{ vm.entity.name }}</span></h1>

    <h1 data-ng-if="vm.entity.id">Edit Website: {{ vm.entity.name }}</h1>

    <div>
        <calypso-button on-click="vm.addOrUpdate()" caption="'Save'"></calypso-button>

        <calypso-button on-click="vm.create()" caption="'Create'"></calypso-button>

        <calypso-button on-click="vm.remove()" caption="'Remove'"></calypso-button>
    </div>

    <tabs tabs-name="website-editor">

        <tab-title>General</tab-title>

        <tab-content>
            <div>
                <input class="inputField" type="text" placeholder="Website Name" data-ng-model="vm.entity.name" />
            </div>
        </tab-content>

        <tab-title>Components [{{ vm.entity.app.components.length }}]</tab-title>

        <tab-content>
            <span>* can only add header or footer components</span>
            <h2>Components</h2>
            <div data-ng-repeat="component in vm.entity.app.components" class="website-editor-component-list-item">
                <div class="website-editor-component-list-item-name">
                    {{ component.name }}
                </div>
                <div class="website-editor-component-list-item-actions">
                    <span data-ng-click="vm.editComponent(component)">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.removeComponent(component)">remove</span>
                </div>
                <div style="clear:both;"></div>
            </div>
        </tab-content>

        <tab-title>Route Configuration [{{ vm.entity.app.routes.length }}]</tab-title>

        <tab-content>

            <route-configuration-editor>

            </route-configuration-editor>

            <h2>Route Configurations</h2>
            <div data-ng-repeat="route in vm.entity.app.routes" class="website-editor-route-list-item">
                <div class="website-editor-component-route-item-name">
                    {{ route.name }}
                </div>
                <div class="website-editor-component-list-item-actions">
                    <span data-ng-click="vm.editRoute(component)">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.removeRoute(component)">remove</span>
                </div>
                <div style="clear:both;"></div>
            </div>
        </tab-content>

    </tabs>


</div>
